{% extends "base.html" %}
{%block title%}
  <title>Event Detail</title>
{% endblock %}
{% block content %}
  <h1>{{ event.title }}</h1>
  <h2>Organize: {{ event.organizer }}</h2>
  {% if request.user == event.organizer %}
    <a class="btn btn-secondary" href="{% url 'event-manager:event-update' event.pk %}">Edit Event</a>
  {% endif %}
  <h5>About event:</h5>
  <p>{{ event.description }}</p>
  <p>Start at {{ event.date }}</p>
  <p>Location: {{ event.location }}</p>
  <p>Max participants: {{ event.max_participants }}</p>
{% endblock %}
